:root {
    --text-body: #434455;
    --text-subtle: #8E8F99;
    --color-background-white: #FFFFFF;
    --color-iris-primary-brand: #4D5AE5;
    --color-dark-navyblue: #2E2F42;
    --color-contact-slate: #434455;
    --color-ocean-pressed-state: #404BBF;

}


/*---------------
    
---------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--text-body);
    background-color: var(--color-background-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*---------------
    Header
---------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.header-nav {
    display: flex;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin: 24px 0;

    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-iris-primary-brand);
}

.logo-studio {
    color: var(--color-dark-navyblue);
}

.header-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-left: 76px;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark-navyblue);
}

.menu-link:hover, .menu-link:focus {
    color: var(--color-ocean-pressed-state);
}

.header-address {
    display: flex;
    justify-content: flex-end;

    font-style: normal;
}

.header-contact {
    display: flex;
    gap: 40px;
}

.contact-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-contact-slate);
}

.contact-link:hover, .contact-link:focus  {
    color: var(--color-ocean-pressed-state);
}

 /* Hero */
.hero-container {
        background-color: var(--color-dark-navyblue);
}

 .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 .hero-title {
        margin-top: 188px;


        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-background-white);
 }

 .hero-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;

    margin-top: 48px;
    margin-bottom: 188px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;



    border-radius: 4px;
    padding: 16px 32px;

    cursor: pointer;
    color: var(--color-background-white);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--color-iris-primary-brand);
 }

 .hero-button:hover, .hero-button:focus {
    background: var(--color-ocean-pressed-state);
 }

/* Feature  */

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.feature-item {
    flex-basis: calc((100% - 72px)/4);
}

.feature-item-title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark-navyblue);
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-contact-slate);
}

/* Our Team */
.ourteam-container {
    background: #f4f4fd;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-navyblue);
    text-transform: capitalize;
}

.ourteam-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    margin-top: 72px;
}

.ourteam-item {
    flex-basis: calc((100% - 72px)/4);
    background-color: #FFFFFF;
}



.ourteam-name {
    margin-top: 32px;


    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-navyblue);
}

.ourteam-position {
    margin: 8px 0 32px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--text-body);
}

/* Portfolio */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-navyblue);
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    padding-top: 72px;
}

.portfolio-item {


    background: #ffffff;
}

.portfolio-border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.card-name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark-navyblue);
}

.card-type {
    margin-top: 8px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-body);
}

        /* Footer */

        .footer-container {
background: var(--color-dark-navyblue);
        }

.footer-section {
    padding: 100px 0;
    width: 264px;
}

.logo-footer {
        color: #f4f4fd;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}